.field-email-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.field-email-label {
  font-size: 14px;
  margin-bottom: 8px;
}
.field-email-input {
  border: 1px solid #e9e8eb;
  border-radius: 12px;
  padding: 20px 16px;
  height: 54px;
}
.field-email-input:hover {
  border-color: #808080;
  transition: border-color 0.3s;
}
.field-email-input:focus {
  border-color: #775ce5;
}
.field-email-background.white {
  background-color: #fff;
}
.field-email-label.field-email-label-error {
  color: red;
}
.field-email-input.field-email-input-error {
  border: 1px solid red;
}
.field-email-text-error {
  margin-top: 10px;
  color: red;
}
