.balance-background-img {
  position: absolute;
  left: 0;
  top: 0;
}
.balance-header {
  z-index: 2;
}
.balance-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0 16px 0;
}
.balance-nav-title {
  text-align: center;
  color: #f3f5ff;
}
.balance-status-balance {
  font-weight: 600;
  font-size: 34px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}
.balance-operations {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.balance-transaction-link,
.balance-transaction-link:visited {
  color: #1d1d1f;
  text-decoration: none;
}
.balance-transactions-list-scroll {
  width: 373px;
  overflow-y: auto;
}
