@import "@shared/ui/styles/colors.css";

.transaction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.transactions-sum-Receipt {
  font-weight: 600;
  font-size: 38px;
  color: var(--green);
}
.transactions-sum-Receipt::before {
  content: "+$";
}
.transactions-sum-Sending {
  font-weight: 600;
  font-size: 38px;
}
.transactions-sum-Sending::before {
  content: "-$";
}
.transaction-container-info {
  border-radius: 12px;
  padding: 16px;
  width: 100%;
  background-color: var(--white);
}
.transaction-item {
  display: flex;
  justify-content: space-between;
}
.transaction-item-info {
  font-size: 14px;
  text-align: center;
}
