.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 20px 40px;
  width: 353px;
  height: 56px;
  font-weight: 500;
}
.btn.filled {
  background-color: #775ce5;
  color: white;
  border: none;
}
.btn.outline {
  background-color: white;
  color: #775ce5;
  border: 1px solid #775ce5;
}
.btn.outline-red {
  background-color: white;
  color: #f23152;
  border: 1px solid #f23152;
}
