@import "@shared/ui/styles/colors.css";

.settingsDivider {
  display: block;
  border: none;
  width: 100%;
  margin: 0;
  height: 1px;
  background-color: var(--grey-light);
  margin: 20px 0;
}
.settingsTitle {
  font-weight: 500;
  margin-bottom: 12px;
}
.form-header {
  font-weight: 500;
}
