.field-password {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.field-password-label {
  font-size: 14px;
  margin-bottom: 8px;
}
.field-password-input {
  border: 1px solid #e9e8eb;
  border-radius: 12px;
  padding: 20px 16px;
  height: 54px;
  transition: border-color 0.3s;
}
.field-password-input:hover {
  border-color: #808080;
}
.field-password-input:focus {
  border-color: #775ce5;
}
.field-password-label.field-password-label-error {
  color: red;
}
.field-password-input.field-password-input-error {
  border: 1px solid red;
  color: red;
}
.field-password-text-error {
  margin-top: 10px;
  color: red;
}
.field-password-icon-hide {
  display: block;
  width: 22px;
  height: 22px;
  background-image: url("./password-hide.svg");
  background-size: cover;
  position: absolute;
  right: 16px;
  top: 38px;
}
.field-password-icon-show {
  display: block;
  width: 22px;
  height: 22px;
  background-image: url("./password-show.svg");
  background-size: cover;
  position: absolute;
  right: 16px;
  top: 38px;
}
