.divider {
  display: block;
  border: none;
  width: 100%;
  margin: 0;
  height: 1px;
  background-color: #e9e8eb;
}
.divider-size.big {
  margin: 20px 0;
}
.divider-size.small {
  margin: 16px 0;
}
