.payment-system-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.payment-system-title {
  font-weight: 500;
}
.payment-system-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 12px;
  background-color: #fff;
  padding: 16px;
}
.payment-system-item {
  display: flex;
  gap: 12px;
  align-items: center;
}
.payment-system-text {
  font-weight: 500;
}
