@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:wght@100..900&display=swap");

body {
  margin: 0;
  padding-top: 50px;
  font-family: "Jost", "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #1d1d1f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e1e;
}
