@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:wght@100..900&display=swap");
@import "@shared/ui/styles/colors.css";

body {
  margin: 0;
  padding-top: 50px;
  font-family: "Jost", "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--black-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black-background);
}
